


*{
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}
body{
    padding-top: 50px;
    background-color: white;
    }



/* Menu */
.navbar-default {
    background-color: white;
    border-color: black;
}
.navbar-default .navbar-nav > li > a{
    color:black;
    font-family: serif;
    margin-top: 8px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #228B22;
}

.navbar-brand{
    font-weight: 700;
}

ul li a{
    font-size: 14px;
}



.navbar-nav{
    height: 65px;
}
img.menu{
	height:55px;
	margin-top:-10.5px;
}

img.menu-scroll{
    height: 40px;
    margin-top:-5px;
    transition-duration:1s;
}

    
}

/* //Menu */
.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

section{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100vh;  /*ocupar 100% de altura*/
    
}



section#slides{
    background-color: white;
    margin-bottom: 0px;
    height: 100%;
}

/*Quem Somos*/
section#quemsomos{
    background: url(../imgs/main-road-1373497_1920.jpg);
    background-repeat: no-repeat;
    background-size:auto;
}

section#quemsomos h4{
    color: white;
}

section#quemsomos p{
    color: white;
}

section#quemsomos li{
    color: white;
}

/* //Quem Somos*/


/*Seriços*/
section#servicos{
    background-color: white;
}

div#serv-zel{
    background: url(../imgs/zelador.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
}

div#serv-seg{
    background: url(../imgs/seguranca4.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
}

div#actos{
    background: url(../imgs/actos_logo_usada.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
}

div#serv-seg:hover{
	-webkit-transform: scale(1.1);
    background-color: white;
    box-shadow: 2px 2px  10px #333;
    transition-duration: 1s;
}

div#serv-zel:hover{
    -webkit-transform: scale(1.1);
    background-color: white;
    box-shadow: 2px 2px  10px #333;
    transition-duration: 1s;
}

div#actos:hover{
    -webkit-transform: scale(1.1);
    background-color: white;
    box-shadow: 2px 2px  10px #333;
    transition-duration: 1s;
}





/* //Seriços*/

/*Parceiros*/

div#parceiros{
    padding-top: 25px;
    background-color:white; 
}

section.slider{
    background-color: white;
}

div.parceiro {
    height:60px;
}

.img-parceiro{
    height:60px;
}



/* //Parceiros*/

/*Localização*/
section#localizacao{
       background: url(../imgs/background-chumbo.png);
}

section#localizacao h1{
    color: white;
}
/* //Localização*/

/*Trabalhe Conosco*/
section#trabconosco{
    background: url(../imgs/map-image.png);
    background-color: #000000;
}

section#trabconosco h1{
    color: white
}

#trab_conosco{
    color: white;
}
/* //Trabalhe Conosco*/

/*Rodapé*/
footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	
}

footer a{
    color: #000000;
}

/* //Rodapé*/

img.grayscale{ /*deixar imagem em scala de cinza*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type='\matrix\' values='\0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

img.grayscale:hover{ /*Voltar acor normal ao passar o mouse por cima*/
    filter: none;
    -webkit-filter: grayscale(0%);
}

/*Slider*/
.divslider{
    padding-top: 0px;
    padding-bottom: 0px;
    /*background: url(../imgs/fundo-branco.jpg);*/
    width: 100%;
    height: 100%;
}

.carousel-inner > .item > img {
    position: relative;
    min-height: 100vh;  /*ocupar 100% de altura*/
    min-width: 100%;
    height: 650px; /* Altura da imagem dentro do Carousel */
}

.slide_btn_portal{
    margin-top: 25px;
}

.carousel-caption{
    top: 150px;
}


p.texto-slider{
    font-size: 60pt;
    animation-duration: 3s;
    animation-name: slidein;
    color:#727376;
}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
    top: 500px;
  }

  to {
    margin-left: 0%;
    width: 100%;
    top: 200px;  
  }
}

/* //slider */

/*
.servicos_item *{
    text-align: center;
}

.servicos_item h4{
    margin-top: 30px;
    font-size: 30px;
}
*/
.servicos_btn_todosservicos {
    margin-top: 25px;
}

.portifolio_item{
    background: white;
}


.portifolio_row{
    margin-bottom: 20px;
}

.portifolio_row:last-child{
    margin-bottom: 0px;
}

.portifolio_item h4{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.contato textarea{
	height: 170px;
}

.contato .aviso{
	padding: 15px;
}

.section_interna{
	padding-top: 0px;
}

.message-login{
    padding: 20px;
}


.panel-body{
    padding:20px 20px 5px;
    border:1px solid #ccc;
    border-radius:2px;
    background-color:#fff
}

/*Media queries*/
@media only screen and (max-width: 320px) {
    
    img.menu{
	   height:30px;
	   margin-top:-5px;
    }  
    
    .divslider{
        
        height: 350px%;
    }
  
    .carousel-inner{
        height: 350px;
    }
    
    p.texto-slider{
        font-size: 20pt;
    }
}

@media only screen and (max-width: 360px) {
   
    img.menu{
	   height:30px;
	   margin-top:-5px;
    }
    
    /*Slider*/
    .carousel-inner{
        height: 350px;
    }
    
    p.texto-slider{
        font-size: 20pt;
    }
    
    /* //Slider*/
    
   
}

@media only screen and (max-width: 768px) {
    img#img-slider{
        height: 550px;    
    }
    
    ul li a{
        font-size: 16px;
    }
    
    .carousel-inner{
        height: 600px;
    }

}

@media only screen and (max-width: 800px) {
    img#img-slider{
        height: 550px;    
    }
    
    ul li a{
        font-size: 16px;
    }
    
    .carousel-inner{
        height: 600px;
    }
    
    .carousel-inner > .item > img {
        height: 400px; /* Altura da imagem dentro do Carousel */
    }

}


@media only screen and (max-width: 800px) {
    img#img-slider{
        height: 550px;    
    }
    
    ul li a{
        font-size: 16px;
    }

}

@media only screen and (max-width: 980px) {
    img#img-slider{
        height: 550px;    
    }
    
    ul li a{
        font-size: 17px;
    }
    
    .carousel-inner{
        height: 600px;
    }
    
    .carousel-inner > .item > img {
        height: 400px; /* Altura da imagem dentro do Carousel */
    }

}

@media only screen and (max-width: 1280px) {
    img#img-slider{
        height: 550px;    
    }
}



