


*{
    font-family: 'Lato',sans-serif;
    font-weight: 300;
}
body{
    padding-top: 50px;
    }

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

section{
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100vh;  /*ocupar 100% de altura*/
    
}

section#slides{
    background-color: white;
    
}

/*Quem Somos*/
section#quemsomos{
    background-color: #606062;
}

section#quemsomos h4{
    color: #000000;
}

section#quemsomos p{
    color: #FFFFFF;
}

section#quemsomos li{
    color: #FFFFFF;
}

.quem-somos{
    background-color: white;
}

/* //Quem Somos*/

/*Noticias*/
section#noticias{
    background-color: #606062;
}

section#notocias-branco{
    background-color: white;
}
/* //Noticias*/

/*Localização*/
section#localizacao{
    background: url(../imgs/fundo-branco.jpg);
}
/* //Localização*/

/*Trabalhe Conosco*/
section#trabconosco{
    background-color: #606062;
}

#trab_conosco{
    color: white;
}
/* //Trabalhe Conosco*/

/*Rodapé*/
footer{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	
}

footer a{
    color: #000000;
}

/* //Rodapé*/

img.grayscale{ /*deixar imagem em scala de cinza*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type='\matrix\' values='\0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

img.grayscale:hover{ /*Voltar acor normal ao passar o mouse por cima*/
    filter: none;
    -webkit-filter: grayscale(0%);
}

.navbar-brand{
    font-weight: 700;
}

.navbar-nav{
    height: 50px;
}
img.menu{
	
	height:35px;
	margin-top:-10px;
}

.divslider{
    padding-top: 15px;
    padding-bottom: 15px;
    /*background: url(../imgs/fundo-branco.jpg);*/
    width: 100%;
    height: 530px;
}

.divslider-cinza{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #606062;
}


.slide_btn_portal{
    margin-top: 25px;
}

/*
.servicos_item *{
    text-align: center;
}

.servicos_item h4{
    margin-top: 30px;
    font-size: 30px;
}
*/
.servicos_btn_todosservicos {
    margin-top: 25px;
}

.portifolio_item{
    background: white;
}


.portifolio_row{
    margin-bottom: 20px;
}

.portifolio_row:last-child{
    margin-bottom: 0px;
}

.portifolio_item h4{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.contato textarea{
	height: 170px;
}

.contato .aviso{
	padding: 15px;
}

.section_interna{
	padding-top: 0px;
}

.message-login{
    padding: 20px;
}


.panel-body{
    padding:20px 20px 5px;
    border:1px solid #ccc;
    border-radius:2px;
    background-color:#fff
}


@media only screen and (max-width: 320px) {
    min-height: 0vh;
}

@media only screen and (max-width: 768px) {
    


}



