html, body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
    }

    .slider {
        width: 70%;
        margin: 100px auto;
        height: 90%
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
      height: 100%        
    }

    .slick-prev:before,
    .slick-next:before {
        color: #0B6E45;
    }

@media only screen and (max-width: 320px) {
    
    .slider {
        width: 80%;
    }
    
    .slick-slide {
      margin: 0px 5px;
    }
    
    .slick-slide img {
      width: 60px;
    }
    
}

@media only screen and (max-width: 360px) {
    
    .slider {
        margin-left: 50px;
        width: 80%;
    }
    
    .slick-slide {
      margin: 0px 5px;
    }
    
    .slick-slide img {
      width: 60px;
    }
    
}
